.container {
  @extend %hero;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  &__section-hero {
    min-width: 1600px;
    background-color: #2f303a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/background-img.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &__hero-title {
    color: $features-works-bg-color;
    width: 698px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &__hero-button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 216px;
    cursor: pointer;
    letter-spacing: 0.06em;
    border: 0px;
    background-color: $accent-color;
    color: $header-bg-color;
  }
}
