.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $shadow-color;
  transition: opacity 205ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px $box-shadow 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px $shadow-color;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    background-color: $header-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transform: inherit scale(1) rotate(1);
    transition: transform 250ms linear, opacity 250ms linear, color 250ms linear,
      background-color 250ms linear;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;

    &:focus svg {
      position: absolute;
      color: #2196f3;
      fill: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }
  }

  &__modal-close-icon {
    position: absolute;
    fill: #000000;

    &:hover {
      fill: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }
  }

  &__modal-close-icon:focus {
    position: absolute;
    color: #2196f3;
    fill: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }
}

.modal-container {
  display: block;
}
.modal-title-box {
  padding: 30px;
  &__modal-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.modal-input-box {
  padding: 0px 40px;
}
.modal-cont {
  position: relative;

  &:hover input {
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }

  &:hover svg {
    fill: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }

  &:focus input,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
    outline: #2196f3;
    border-color: #2196f3;
  }

  /* &:focus svg {
    color: #2196f3;
    fill: $accent-color;    
    outline: $accent-color;
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }

  &:focus input {
    outline: $accent-color;
    color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  } */

  &__modal-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-bottom: 14px;
    padding-top: 14px;

    &:focus,
    &:focus input,
    &:focus svg {
      color: #2196f3;
      fill: #2196f3;
      outline: #2196f3;
      border-color: #2196f3;
    }
  }
  /* &__modal-input svg:focus {
    color: #2196f3;
    fill: #2196f3;
  } */
  &__modal-icon {
    position: absolute;
    left: 16px;
    bottom: 22px;
  }
}

.modal-fields {
  &:hover textarea {
    border: 1px solid $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }

  &:focus textarea {
    outline: #2196f3;
    border: 1px solid $accent-color;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, color, opacity, background-color;
  }

  &__modal-text {
    width: 448px;
    height: 120px;
    left: 576px;
    top: 518px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    color: rgba(117, 117, 117, 0.5);
    padding-left: 16px;
    padding-top: 12px;

    &:focus {
      color: #2196f3;
      outline: #2196f3;
      border: 1px solid #2196f3;
      border-radius: 4px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }

    /* &::after {
      border: 1px solid #2196f3;
    } */
  }
}

.modal-check-box {
  padding-left: 52px;
  position: relative;
  /* .modal-check:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
    fill: $header-bg-color;
  } */

  &__check-box {
    display: flex;
    font-size: 14px;
    color: $title-text-color;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &__modal-check {
    @extend %hidden-visually;
  }

  &__check-text-span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 5px;
  }

  &__check-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
  }

  &__modal-check:checked + &__check-icon {
    background-color: #2196f3;
    border-color: #2196f3;
    fill: #ffffff;
    opacity: 1;
  }

  /*  &__modal-check:checked + &__check-text-span {
     background-color: $accent-color;
     border-color: $accent-color;
     fill: $header-bg-color;
     opacity: 1;
  } */
}

/* .modal-check:checked + .check-text-span {
  background-color: $accent-color;
  border-color: $accent-color;
  fill: $header-bg-color;
}
 */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.modal-check-box {
  &__checkbox-link {
    color: $accent-color;
    padding-left: 3px;
  }
}

.modal-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  &__modal-button {
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    border-radius: 4px;
    border-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;

    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
