%link {
  color: $primary-text-color;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.main-nav {
  &__site-nav {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 280px;
    @extend %link;
  }

  &__link {
    display: block;
    color: $primary-text-color;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover {
      color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }
    &:focus {
      color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }
  }
}
.link {
  color: $primary-text-color;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.current {
  color: $accent-color;
  text-decoration: none;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 4px solid $accent-color;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    bottom: -34px;
  }
}
