.section {
  padding: 94px 0;
  background-color: $header-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__team-main-title {
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.team {
  @extend %section;
  background-color: #f5f4fa;
}
.container-team {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.team-menu {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  &__team-menu-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px var(--box-shadow), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px var(--shadow-color);
    border-radius: 0px 0px 4px 4px;
    background-color: $header-bg-color;
  }
}
.team-menu-text {
  display: block;
  padding: 30px 10px;
  &__team-title {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__team-activity {
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.team-menu-sl {
  display: flex;
  justify-content: center;
}
.team-soc-list {
  display: flex;
  padding-top: 16px;
  &__team-soc-item {
    display: flex;
    padding-right: 10px;
  }

  &__team-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $header-bg-color;
    border-radius: 50%;

    &:hover {
      background-color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }

    &:focus {
      background-color: $accent-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }

    &:hover svg {
      fill: #ffffff;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }

    &:focus svg {
      fill: #ffffff;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform, color, opacity, background-color;
    }
  }

  &__team-menu-icon {
    fill: #afb1b8;
  }
}
